/*generale*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: "Poppins" sans-serif !important;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: all .2s linear;/*je peux utiliser pour les hovers des éléments du menu*/
}

/*debut menu de la page*/

/* le style pour les éléments du header*/
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background: #000;
}

/*pour redimensionner l'image*/
.header .logo img{
    width:60px;
    height: 60px;
}
/*pour cacher le navbar lorsqu'on clique sur l'icone de recherche*/
/* .header .navbar.none{
    display: none;
} */
/* pour les liens du nav*/
.header .navbar a {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0.5rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
/*hover lorsqu'on clique sur les liens*/
.header .navbar a:hover{
    color: #f6f649;
}
/*les points qui sont à côté des liens*/
.header .navbar a strong{
    margin-left: 5px;
    font-size: 2rem;
    color: #f6f649;
}

/*les icones */
.header .icons div {
    /* height: 2rem;
    width: 2rem; */
    line-height: 4.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-right: 1rem;
    text-align: center;
}

/* le hover des icones */
.header .icons div:hover {
    color: #f6f649;
}
/*le menu de responsive*/
#menu-btn {
    display: none;
}
/*pour activer le formulaire de recherche*/
.header .search-form.active{
    top: 20%;
    transition: .4s linear;

}
/*les caractéristiques du formulaire de recherche*/
.header .search-form{
    position: absolute;
    right:18%; 
    top: -110%;
    width: 70%;
    height: 3.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    background-color: #000;
}
/* pour supprimer les éléments du champs*/
input[type="search"]::-webkit-clear-button,
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {

  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    appearance: none;
}

/* pour le champ*/
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: #fff;
    padding:0 1.5rem;
}
/*pour le label du formulaire*/
.header .search-form label{
    font-size: 2.2rem;
    padding: 1.5rem;
    color: #fff;
    cursor: pointer;
}
/*pour le hover du label*/
.header .search-form label:hover{
    /* background-color: #000; */
    color:#f6f649;
}

/*style pour le formulaire de connexion*/
.header .login-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    /* z-index: 1002; */
    box-shadow: 0 4px 8px rgba(4,171,207,0.1);
}
/* pour activer le formulaire de connexion */
.header .login-form.active{
    right: 9%; 
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* border-bottom: 1px solid #ddd; */
}
/* champ email et password */
.header .login-form .box{
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 0.3em;
    border: 1px solid #ddd;
    padding: 1rem;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    transition: border-color 0.3s ease;
} 

/* pour transformer le border lorsqu'on clique dans le champ */
.login-form .box:focus {
    border-color: #04abcf; 
    outline: none; 
}
.header .login-form p {
    font-size: 16px;
    padding: .5rem 0;
    color: #000;
}
.header .login-form a{
    color:#04abcf;
}

/* pour la partie souviens toi de moi */
.header .login-form .remember{
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
}
.header .login-form .remember a{
    margin-left: 15px;
}
.header .login-form .remember .checbox{
    display: flex;
    justify-content:center;
}
/* boutton se connecter */

.header .login-form .btn{
    background-color: #04abcf;
    width: 100%;
    border: none;
    color: #fff;
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;

}

.header .login-form .btn:hover {
    background-color: #000;
    color: #fff;
}

.header .login-form .box.active{
    border: 1px solid #04abcf;
}


@media screen and (min-width: 992px) and (max-width:1300px) {
    .header{
        padding: 0.5rem;
        
    }

    .header .navbar a {

        font-size: 16px;
       
    }

    .header .logo img{
        width:50px;
        height: 50px;
    }

    .header .icons div {
        font-size: 20px;
       
    }

    .header .navbar a strong{
        margin-left: 3px;
        font-size: 1rem;
        color: #f6f649;
    }
    
    .header .search-form{
        right:20%; top: -110%;
        width: 70%;
        height: 2.5rem;
        border-radius: 0.3rem;
    }
    .header .search-form input{
        font-size: 1rem;
        color: #fff;
        padding:0 1rem;
    }

    .header .search-form label{
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .header .login-form.active{
        right: 3%; 
        transition: .4s linear;
    }
}


@media screen and (min-width: 449px)and (max-width:991px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        border-radius: 0.5rem;
        /* border: 1px solid #ddd; */
        background-color: #000;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 0.5rem 2.5rem;
        display: block;
    }

    .header .search-form {
        position: absolute; /* Position fixe pour rester en bas même en défilant */
        /* Positionné en bas de la fenêtre */
        left: 5%;
        right: 5%;
        width: 90%; /* Prend toute la largeur de l'écran */
        border-radius: 0.5rem; /* Arrondir uniquement le haut */
        background-color: #fff; /* Fond noir */
        border: 1px solid #ddd;
        z-index: 1001; /* Assure que le formulaire est au-dessus des autres éléments */
        display: flex; /* Assure que le contenu reste en ligne */
        margin: 0; 
        padding: 0;
    }

    .header .search-form input{
        font-size: 1rem;
        color: #000;
        padding:0 1rem;
    }

    .header .search-form label{
        color: #000;
        font-size: 14px;
    }
/* 
    .header .search-form{
        width: 35rem;
        height: 3.5rem;
        border-radius: 0.5rem;
        right:-110%; 
        top:110%;
    } */
    .header .search-form.active{
        right: 9%;
        transition: .4s linear;
    
    }

    .header .login-form.active{
        right: 2rem; 
        transition: .4s linear;
    }
}

@media screen and (min-width: 200px) and (max-width: 450px){
    #menu-btn{
        display: inline-block;
    }
    /*menu de navigation*/
    .header .navbar{
        position: absolute;
        top: 110%; right: -140%;
        width: 95%;
        border-radius: 0.5rem;
        /* border: 1px solid #ddd; */
        background-color: #000;
    }

    .header .navbar.active{
        right: 0.5rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 1.5rem;
        margin: 0.5rem 2.5rem;
        display: block;
    }

    .header .icons div {
        font-size: 16px;
       
    }
    /*formulaire de connexion*/

    .header .login-form{
        top: 110%; right: -110%;
        width: 95%;
        padding: 5px;
    }

    .header .login-form h3{
        font-size: 16px;
    }

    .header .login-form .box{
        width: 80%;
        margin: 0.5rem 0;
        border-radius: 0.3em;
        padding: 0.5rem;
        font-size: 12px;
        
    } 

    .header .login-form p {
        font-size: 12px;
        padding: .3rem 0;
        color: #000;
    }

    .header .login-form .remember{
        margin: 0.3rem 0;
        font-size:10px;
        text-align: center;
    }

    .header .login-form a{
        font-size: 12px;
    }
    .header .login-form .remember a{
        font-size: 10px;
    }

    .header .login-form .btn{
        background-color: #04abcf;
        width: 80%;
        padding: 0.5rem;
        border-radius: 0.3rem;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
    
    }

    .header .login-form.active{
        right: 0.5rem; 
        transition: .4s linear;
    }
    /*formulaire de recherche*/
    .header .search-form {
        position: absolute; /* Position fixe pour rester en bas même en défilant */
        /* Positionné en bas de la fenêtre */
        left: 5%;
        right: 5%;
        width: 90%; /* Prend toute la largeur de l'écran */
        border-radius: 0.3rem; /* Arrondir uniquement le haut */
        background-color: #fff; /* Fond noir */
        border: 1px solid #ddd;
        z-index: 1001; /* Assure que le formulaire est au-dessus des autres éléments */
        display: flex; /* Assure que le contenu reste en ligne */
        margin: 0; 
        padding: 0;
        height: 2.5rem;
    }

    .header .search-form input{
        font-size: 1rem;
        color: #000;
        padding:0 1rem;
    }

    .header .search-form label{
        color: #000;
        font-size: 14px;
    }
    .header .search-form.active{
        right: 9%;
        transition: .4s linear;
    
    }
}

/*fin menu css*/


h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Poppins', sans-serif !important;
}

h2{
    font-size: 32px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.underline-title {
    display: inline-block; /* Pour que l'élément soit de la largeur du texte uniquement */
    position: relative; /* Nécessaire pour positionner le pseudo-élément ::after */
    font-weight: bold; /* Rendre le texte en gras */
    text-align: center !important;
    margin: 0 auto;
}

.underline-title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    bottom: -5px; /* Ajuste cet espace pour placer la ligne juste sous le texte */
    width: 100%;
    height: 7px; /* Épaisseur de la ligne */
    background-color: #f6f649; 
    border-radius: 5px; /* Ajoute un léger arrondi aux coins de la ligne */
}


button{
    font-size: 24px;
}

/*services*/

.card-body-1{
    padding: 10%;
}

.card-body-1 h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}

.card-body-1 a {
    margin-left: 15%;
    color:black
}

/* promo carousel */
.promo{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 40%;
    padding: 3.5rem;
    margin-left: 15%;
    top: 40%;
    z-index: 100;
    border-radius: 0.5rem;
    
    
}
.promo h1{
    color: #f6f649;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
}

.promo p{
    color: #fff;
}

/*Produits*/
.row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.col-12, .col-sm-6 {
    padding: 0.5rem;
}
.col-12, .col-sm-6 h5{
    font-size: 14px;
}
.col-12, .col-sm-6 p{
    font-size: 10px;
}


.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(4,171,207,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-img-top {
    border-radius: 8px 8px 0 0;
}

.card-body {
    text-align: center;
}
.card-body h4{
    font-size: 24px;
    font-weight: bold;
    padding: 0.5em;
}

.card-body p{
    font-size: 16px;
}
.card-title {
    margin-top: 1rem;
}

.card-text {
    margin: 0.5rem 0;
}

.btn{
    background-color: #04abcf;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(4,171,207,0.2);
    border: 1px solid #04abcf;
}


/*boutique*/

.shop h3{
    font-size: 28px;
    padding: 1em;
    padding-left: 0 !important;
}
.shop p{
    font-size: 16px;
}

/* .recent-posts {
    padding: 65px 0 100px;
  }
  
  .recent-posts .btn {
    margin-top: 60px;
  }
  
  .recent-posts .row .col-lg-6:nth-of-type(odd) .post-thumb {
    margin-top: 30px;
  }
  
  .recent-posts .row .col-lg-6:nth-of-type(even) .post-thumb {
    margin-bottom: 30px;
  }
  
  .single-rpost {
    margin: 35px 0 0;
  }
  
  .post-thumb {
    flex: 0 0 273px;
  }
  
  .post-content {
    color: #ccc;
  }
  
  .post-content time {
    font-size: 14px;
    color: #ccc;
  }
  
  .post-content h3 {
    margin: 10px 0 2px;
  }
  
  .post-content h3 a {
    color: #26264b;
    font-weight: 600;
  }
  
  .post-content h3 a:hover {
    font-weight: 700;
    text-decoration: none;
  }
  
  .post-content a {
    color: #ccc;
  }
  
  .post-content a:hover {
    color: #26264b;
  }
  
  .post-content .post-btn {
    color: #6e6e6e;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    background-color: whitesmoke;
  }
  
  .post-content .post-btn:hover {
    color: #fff;
    background-color: #ee1515;
  } */
  
  /*-----------------------------------
      1 - Trust
  ------------------------------------*/
  /* .trust {
    padding: 75px 0;
    background-color: #26264b;
    color: #ddd;
    position: relative;
  }
  
  .trust .title {
    margin-bottom: 46px;
  }
  
  .trust h1 {
    color: #fff;
  }
  
  .trust h5 {
    font-size: 24px;
    color: #fefefe;
    margin: 28px 0 12px;
  }
  
  .trust ul {
    color: #fff;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  
  .trust li {
    margin-bottom: 15px;
  }
  
  .trust .gallery img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  
  .trust .gal-img {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .trust .gal-img i {
    font-size: 72px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
  }
  
  .trust .gal-img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  
  .trust .gal-img:hover {
    cursor: pointer;
  }
  
  .trust .gal-img:hover i {
    opacity: 1;
  }
  
  .trust .gal-img:hover::after {
    opacity: 1;
  }
  
  .trust .gal-img3 {
    top: -50%;
    left: 50%;
  } */
  






/*formule canal+*/
.card-body-2{
    text-align: center;
    padding: 10%;
}

/*footer*/
/*section des termes de confidentialité*/
.confident{
    border-right: 1px solid #ddd;
    padding: 2em;
}
.confident i {
    font-size: 24px;
    color:#04abcf;
}
.confident a{
    text-decoration: none;
    color: #000;
}

.terme{
    border-right: 1px solid #ddd;
    padding: 2em;
}

.terme i{
    font-size: 24px;
    color: #04abcf;
}

.terme a{
    text-decoration: none;
    color: #000;
}

.retour{
    padding: 2em;
}
.retour i {
    font-size: 24px;
    color: #04abcf;
}
.retour a{
    text-decoration: none;
    color: #000;
}

/*section contenu*/

.social a{
    text-decoration: none;
    color: #fff;
    padding: 0.5em;
}

.social a:hover{
    color: #f6f649;
    
}

.link{
    
    color: #fff;
}
.link h4{
    text-decoration: underline;
}
.link a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.link a:hover {
    color: #f6f649;
}

.contact{
    color: #fff;
    z-index: 10;
}
.contact h4{
    text-decoration: underline;
} 
.last-footer-contain{
    padding: 2em;
    border-bottom: 1px solid #ddd;

}
@media screen and (min-width:200px) and (max-width: 769px) {
    .terme a {
        text-align: center;
    }
    .card-body-1 h3 {
        font-size: 24px;
    }
    .card-body-1 a{
        margin-left: 28%;
    }
    /* .present{
        display:flex;
        justify-content: space-between;
    } */
    .present img{
        width: 40px;
        height: 40px;
    }
    /* .present p {
        font-size: 12px;
        margin-left: 20px;
    } */
    /* .present .social{
        display: flex;
        justify-content: space-between;
    } */
    .last-footer-contain{
        border-bottom: 1px solid #ddd;
    }
    .confident{
        border-right:none;
        
    }
    .terme{
        border-right: none;
    }

    h2{
        font-size: 28px;
    }
    /* end footer */
    /* promo carousel */
    .promo{
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        width: 60%;
        padding: 10px;
        top: 13%;
     
        }

    .promo h1{
         font-size: 20px;
        }

    .promo p{
        color: #fff;
        font-size: 12px;
    }

    .promo .btn{
        background-color: #04abcf;
        color: #fff;
        padding: 0.5rem 0.3rem;
        border-radius: 2px;
        
    }
    .promo button{
        font-size: 12px;
    }


}

@media screen and (min-width: 770px) and (max-width: 1120px) {
    
    /* promo carousel */
    .promo{
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        width: 50%;
        padding: 15px;
        top: 20%;
       
        }

    .promo h1{
         font-size: 28px;
        }

    .promo p{
      
        font-size: 16px;
    }

    .promo .btn{
        background-color: #04abcf;
        color: #fff;
        padding: 0.5rem 0.5rem;
        border-radius: 2px;
        
    }
    .promo button{
        font-size: 14px;
    }

}